---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="最新消息">
  <div class="news__wrap">
    <h1>最新消息</h1>
    <ul>
      <li>-- 即將公布，敬請期待 --</li>
    </ul>
  </div>
</Layout>
<style>
  .news__wrap {
    padding: 2rem 0;
  }
</style>
