---
import Layout from '../layouts/Layout.astro';
---

<Layout title="公司介紹">
  <div class="about__wrap">
    <h1>公司介紹</h1>
  </div>
</Layout>
<style>
  .about__wrap {
    padding: 2rem 0;
  }
</style>
