---
import { Image } from 'astro:assets';
import arrowUp from '../images/layout/arrow-up-white.svg';
---

<div class="aside__top" style={Astro.props.style}>
  <Image class="aside__top-image" src={arrowUp} alt="回到頁面頂端" loading="eager" />
</div>

<style>
  .aside__top {
    background-color: #4682ab;
    display: inline-block;
    position: fixed;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    right: 1.5rem;
    bottom: 4rem;
    cursor: pointer;
  }
  .aside__top-image {
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
<script>
  import $ from 'jquery';
  $(function () {
    $('.aside__top').on('click', function (e) {
      e.preventDefault();
      $('html, body').animate({ scrollTop: 0 }, 100, 'linear');
    });
  });
</script>
