---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="國家原子能研究院 廢海水處理系統">
  <div class="gallery__wrap">
    <h1>國家原子能研究院 廢海水處理系統</h1>
  </div>
</Layout>

<style>
  .gallery__wrap {
    padding: 2rem 0;
  }
</style>
